**/Makefile
*.log
*.jou
*.str
*.out
*.xpr
*.vscode/
**/export/
export.zip
**/.Xil/
hls.app
kernel.xml
**/solution1/

Vivado/rx_demo/receiver/*/
Vivado/tx_demo/transmitter/*/
Vivado/tx_dma/*/
Vivado/rx_dma/*/
Vivado/tx_on_demand/*/
Vivado/rx_on_demand/*/
Vivado/txrx/*/